@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
    background-color: #222;
    color: #EDEDEF;
    font-family: 'Caveat', sans-serif;
    font-size: 2.6rem;
    font-weight: lighter;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 60px;
    letter-spacing: 15px;
}

.completed {
    text-decoration: line-through;
    background-color: #333;
    color: #777;
    border: none;
}

.todo {
    padding: 1.4rem 3rem 0 3rem;
    border-bottom: 4px solid #444;
    border-radius: 5px;
    margin-bottom: 20px;
}

.app {
    max-width: 60%;
    margin: 0 auto;
    background-color: #333;
    padding: 10px 2rem 2rem 2rem;
    border-radius: 5px;
    margin-top: 40px;
    -webkit-box-shadow: 2px 2px 30px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 2px 2px 30px 3px rgba(0,0,0,0.37);
    box-shadow: 2px 2px 30px 3px rgba(0,0,0,0.37); 
}

button {
    font-family: 'Caveat', sans-serif;
    font-size: 1.6rem;
    width: 40%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: #333;
    border-bottom:3px solid #777;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: #444;
    -webkit-transition: .2s ease;
  transition: .2s ease;
}

.button-box {
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    font-family: 'Caveat', sans-serif;
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: #333;
    border-bottom:3px solid #777;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: #fff;
}

*:focus {
    outline: none;
    background-color: #333;
    border-radius: 5px;
}

@media (max-width: 768px) {

    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 36px;
        letter-spacing: 2px;
    }

    button {
        width: 100%;
        font-size: 1.2rem;
    }

    .button-box {
        flex-direction: column;
    }

    .todo {
        padding: 1.4rem 1.4rem 0 1.4rem;
    }

    input {
        width: 96%;
    }
}